.item {
    padding: 20px;
    width: 640px;
    .content-text {
        font-size: @font-size-big;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .content-img {
        max-width: 400px;
    }

    .item-link {
        color: blue;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
    }
}

.mainList {
    margin-bottom: 40px;
}

